spec:
  inputs:
    trivy-activated:
      description: "Activate Trivy scan"
      type: boolean
      default: true
    stage:
      description: "Stage to run"
      type: string
      #Modificar para sca(software composition analysis) futuramente com Sourcegraph
      default: scan
    docker-image:
      description: "Docker image name"
      type: string
    architecture:
      description: "Architecture (amd64 or arm64)"
      type: string
      default: ""
---

stages:
- scan

variables:
  TRIVY_JSON: "gl-container-scanning-report.json"
  TRIVY_IMAGE: public.ecr.aws/n6a9k4a7/deploy:1-trivy

.retry: &retry
  retry:
    max: 2
    when:
    - runner_system_failure
    - stuck_or_timeout_failure
    - api_failure
    - job_execution_timeout
    - scheduler_failure

.docker_scan:
  <<: *retry
  rules:
  - if: '"$[[ inputs.architecture | expand_vars ]]" == "" || "$[[ inputs.trivy-activated | expand_vars ]]" == "true"'
  stage: $[[inputs.stage]]
  image: $TRIVY_IMAGE
  before_script:
  - apk add --no-cache jq
  - apk add --no-cache docker
  script:
  - trivy image "$[[inputs.docker-image]]"
  - trivy image -f json "$[[inputs.docker-image]]" | tee $TRIVY_JSON > /dev/null | jq . > /dev/null
  after_script:
  - |
    critical=$(jq '[.Results[].Vulnerabilities[]? | select(.Severity=="CRITICAL")] | length' $TRIVY_JSON)
    high=$(jq '[.Results[].Vulnerabilities[]? | select(.Severity=="HIGH")] | length' $TRIVY_JSON)
    medium=$(jq '[.Results[].Vulnerabilities[]? | select(.Severity=="MEDIUM")] | length' $TRIVY_JSON)
    low=$(jq '[.Results[].Vulnerabilities[]? | select(.Severity=="LOW")] | length' $TRIVY_JSON)
    unknown=$(jq '[.Results[].Vulnerabilities[]? | select(.Severity=="UNKNOWN")] | length' $TRIVY_JSON)
    total=$((critical + high + medium + low + unknown))
    echo "CRITICAL_COUNT=$critical" >> variables.env
    echo "HIGH_COUNT=$high" >> variables.env
    echo "MEDIUM_COUNT=$medium" >> variables.env
    echo "LOW_COUNT=$low" >> variables.env
    echo "UNKNOWN_COUNT=$unknown" >> variables.env
    echo "TOTAL_COUNT=$total" >> variables.env
  artifacts:
    paths:
    - $TRIVY_JSON
    reports:
      dotenv: variables.env
    untracked: false
    when: on_success
    access: developer
    expire_in: "1 day"

.docker_scan_amd64:
  <<: *retry
  rules:
  - if: '"$[[ inputs.architecture | expand_vars ]]" == "amd64"  || "$[[ inputs.trivy-activated | expand_vars ]]" == "true"'
  stage: $[[inputs.stage]]
  image: aquasec/trivy:latest
  before_script:
  - apk add --no-cache jq
  - apk add --no-cache docker
  script:
  - trivy image "$[[inputs.docker-image]]"
  - trivy image -f json "$[[inputs.docker-image]]" | tee $TRIVY_JSON > /dev/null | jq . > /dev/null
  after_script:
  - |
    critical=$(jq '[.Results[].Vulnerabilities[]? | select(.Severity=="CRITICAL")] | length' $TRIVY_JSON)
    high=$(jq '[.Results[].Vulnerabilities[]? | select(.Severity=="HIGH")] | length' $TRIVY_JSON)
    medium=$(jq '[.Results[].Vulnerabilities[]? | select(.Severity=="MEDIUM")] | length' $TRIVY_JSON)
    low=$(jq '[.Results[].Vulnerabilities[]? | select(.Severity=="LOW")] | length' $TRIVY_JSON)
    unknown=$(jq '[.Results[].Vulnerabilities[]? | select(.Severity=="UNKNOWN")] | length' $TRIVY_JSON)
    total=$((critical + high + medium + low + unknown))
    echo "CRITICAL_COUNT=$critical" >> variables.env
    echo "HIGH_COUNT=$high" >> variables.env
    echo "MEDIUM_COUNT=$medium" >> variables.env
    echo "LOW_COUNT=$low" >> variables.env
    echo "UNKNOWN_COUNT=$unknown" >> variables.env
    echo "TOTAL_COUNT=$total" >> variables.env
  artifacts:
    paths:
    - $TRIVY_JSON
    reports:
      dotenv: variables.env
    untracked: false
    when: on_success
    access: developer
    expire_in: "1 day"
  tags:
  - amd64
